nav{
    margin: 0;
    border: #111;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    right: 0%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #56605E;
}

li {
  margin: 0;
  float: left;
}

li a {
  margin: 0;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Sono', sans-serif;
}
  
li a:hover {
  background-color: #312509;
}



body{
  background-color: #BDBDBD;
}
.first_section{

    margin-top: 35px;
    
    font-family: 'Sono', sans-serif;
    width: 100%;
    left: 0px;
    height: 800px;
    background-size: cover;
    background-image:url("../Assets/bank1.jpeg");
    background-size: cover;
    background-attachment: fixed;
    position: fixed;

}


#rect_1{
  position: absolute;
  width: 100%;
  height: 164px;
  left: 0px;
  top: 150px;
  background: #D9D9D9;
  text-align: center;
}

#rect_1 h1{
  border: #111;

  position: relative;
  top: 5px;
  font-family: 'Sono', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
}

#rect_2{
  box-sizing: border-box;

  position: relative;
  width: 266px;
  height: 94px;
  left: 5%;
  top: 70%;
  text-align: center;
  background: rgba(255, 255, 255, 0.53);
  border: 2px solid #000000;
}

#rect_2 h1{
  position: relative;

  top: 50%;
  margin-top: -24px;
  font-family: 'Sono', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 48px;

  color: #000000;
}

#rect_2:hover {
  background-color: rgba(0, 0, 0, 0.53);
  cursor: grab;
}





